a, 
button{
  cursor: pointer;
}

.navbar .navbar-brand {
  color: rgba(255, 255, 255, 0.85);
  font-size: 1rem;
}

.jumbotron {
  background-image: url('../img/chris-montgomery-smgTvepind4-unsplash(1).jpg');
  background-size: cover;
}

a{
  color: #0E7368;
}

a:hover{
  text-decoration: none;
  color:#0E7368!important;
}

/*** TELECONERENCE ***/

/*** closed menu ***/

.hero-els-logo{
  width:400px;
  margin:0 auto 30px auto;
}



.jumbotron .container .getintouch:hover{
  color:#fff!important;
}


.serv-btn{
  background-color: #0E7368!important;
  border:none;
  color:#fff;
}

.serv-btn:hover{
  color:#fff!important;
}

.serv-btn:focus{
box-shadow: none!important;
}

.logout-btn{
  color:#0E7368!important;
}

.logout-btn:focus{
  box-shadow: none!important;
}

.jumbotron{
  padding:9rem 2rem;
  background-position: center;
}

.navbar-nav + svg{
  width:160px;
  height: 50px;
}

.navbar-nav{
  margin-right:auto;
}

.navbar {
  background-color: #0E7368!important;
}

.getintouchfooter{
  color:#0E7368!important;
  border-color:#0E7368!important;
}

.getintouchfooter:hover{
  color:#fff!important;
  border-color:#0E7368!important;
  background-color:#0E7368!important;
}




/*** LOGIN ***/
.login-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  height: 100vh;
}

.modal-content button, 
.modal-header{
  background-color: #0E7368!important;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}



/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}



/* FORM TYPOGRAPHY*/

input[type=button], input[type=submit], input[type=reset]  {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}



input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #2A464E;
  border-color: #fff;
}

input[type=text]:placeholder {
  color: #cccccc;
}

input[type=submit]{
  background-color: #0E7368;
}

.signup-btn{
  background-color: #0E7368!important;
}

/* Simple CSS3 Fade-in Animation */


.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}

.navbar-nav a:hover{
  color:#fff!important;
}

/* OTHERS */

*:focus {
    outline: none;
} 

#icon {
  width:60%;
}

/* mq */

@media(max-width:750px){
  .display-2{
    font-size:3em!important;
  }
}







































