* {
	box-sizing: border-box;
} /** universal selector **/

body {
	font-size: 1em;
	font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0 auto;
	max-width:2800px;
}

.container{
	display:flex;
	flex-direction: column;
}


header {
  background-color: #0E7368;
}
nav {
  background-color: #262528;
  margin-top: -20px;
}

h1, h2, h3, h4, h5, h6, p{
	color:#fff;
	font-weight:100;
	margin:0;
	text-align: center;
}
 ul{
	 margin:0;
	 padding:0;
	 color: #676767;
	 font-size: 15px;
 }

 .container{
	 padding: 0 25px 0 25px;
 }

 .headline,
 .section-heading,
 ul{
	 margin-bottom:20px;

 }

section:first-child{
	margin-bottom:10px;
}

svg{
	cursor: pointer;
}

a{
	cursor: pointer;
}
/**************************************************************************************************************
********************************************* SECTION BORDERS ********************************************
**************************************************************************************************************/



/**************************************************************************************************************
********************************************* MQ ********************************************
**************************************************************************************************************/

@media only screen and (min-width: 780px){
		p{
			font-size:15px;
		}
		.section-heading{
			margin-right: auto;
		}

		/** section borders **/

		#mobile-users-container,
		#recent-activity-container,
		#settings-container{
		}

}
