/***** Grid ****/
#main{
  display:grid;
  grid-template-columns:100%;
  grid-auto-rows: minmax(60px, auto);
  height:100%;
  background-color: #393739;
  grid-template-areas:
  "nav"
  "header"
  "main-header"
  "daily"
  "mobile-user"
  "social"
  " video-settings "
}

header{
  grid-area: header;
}

nav{
  grid-area: nav;

}

#dashboard-container{
  grid-area: main-header;
}






#daily-container{
  grid-area:daily;
  margin-top: -20px;
}

#mobile-users-container{
  grid-area: mobile-user;
  margin-top: -20px;
}

#social-container-container{
  grid-area:social;
}

#new-members-container{
  grid-area:new-members;
}
#recent-activity-container{
  grid-area:recent;
}

#message-container{
  grid-area:message;
}


#settings-container{
  grid-area:settings;
}

#video-setttings{
  grid-area:video-settings;
  height:initial;
}

#progress{
  grid-area:progress;
  height:initial;
}

@media only screen and (min-width:780px){
  #main{
    grid-template-columns: 65px 2fr repeat(2, 1fr);
    grid-template-areas:
    "header header header header"
    "main-header main-header main-header main-header"
    "nav traffic traffic traffic"
    "nav daily mobile-user mobile-user"
    "nav social social social"
    "nav progress progress progress";
    grid-template-rows: 70px minmax(60px, auto) 35px;
    height: 100vh;
  }
}
