/**************************************************************************************************************
********************************************* TELECONFERENCE EDITS ********************************************
**************************************************************************************************************/

.widget-container-half img {
  height:100%;
  width:100%;
}



#video-setttings .widget-container-half{
height:initial;
}

#video-setttings .widget-container-half svg{
  width:30px;
  height: 30px;
  margin:15px auto 0 auto;
  display: block;
  }

#settings{
  fill:#fff;

}

.main-header-search svg{
  width:25px;
  height:25px;
  margin-right:25px;
}

@media(min-width:780px){
  #chat-nav-highlight{
    background-color: dimgray;
  }

}

@media(max-width:780px){

  .sidenav-icons{
    padding-top: 15px;
  }
  #dashboard-container{
    display:none;
  }
  .bell{
    display: none!important;
  }

}

#chat-nav-highlight svg{
  fill: #fff;
}


@media (min-width:780px){
  .sidenav-icons div:nth-child(4){
    margin-bottom: auto;
  }

  .sidenav-icons div:nth-child(5){
    margin-bottom: 25px;
  }
}

.video-options{
  display: flex;
  justify-content: center;
}

@media (max-width:780px){
  .video-options{
padding-top:50px;
  }
}

.video-options svg{
  width:30px;
  height:30px;
}

.video-options .icon-container{
  padding:10px;
  border-radius: 50px;
  background-color: #0E7368;
  margin: 0 25px;
}

.video-options .icon-container:nth-child(4){
  background-color: red;
}

#social-container-container{
  height:60px;
}

/*** progress rings  ***/

.rings {
	display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.rings p {
  margin-top:-15px;
}

.rings svg{
  width: 75px;
	height: 75px;
}

.percent1, .percent2, circle {
	width: 130px;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.percent1 circle {
	position: absolute;
	fill: none;
	stroke-width: 3px;
	transform: translate(10px, 10px);
	stroke-dasharray: 230;
	stroke-linecap: round;
}

circle:nth-child(1) {
	stroke-dashoffset: 0;
	stroke: #424242;
}

.percent1 circle:nth-child(2) {
	stroke-dashoffset: calc(440 - (440 * 75) / 100);
	stroke: #0E7368;
	animation: percent 1.5s linear;
	animation-delay: 1s;
}

.percent2 circle:nth-child(2) {
	stroke-dashoffset: calc(440 - (440 * 33) / 100);
	stroke: salmon;
	animation: percent 1.8s linear;
	animation-delay: 1.2s;
}

.number {
	position: relative;
	bottom: 50px;
	right: 0px;
	color: #fff;
}

.number h2 {
	font-size: 15px;
}

h2 span {
	font-size: 10px;
	opacity: .7;
}

.percent1 span {
	color: #fff;
}

.percent2 span {
	color: salmon;
}

@keyframes percent {
	0% {
		stroke-dashoffset: 0;
		stroke-width: 0;
	}
}


/**************************************************************************************************************
********************************************* HEADER-MOBILE STYLES ********************************************
**************************************************************************************************************/
header{

  display:flex;
  align-items: center;
  margin-bottom:0;
}

.els-logo{
  width:180px;
}

header > a{
  margin-right:auto;
  margin-left:25px;
}

.notification{
  display:flex;
  margin-right: 20px;
  height:75%;
}


header .notification .bell img{
  width:30px;
}

.profile-image img{
  align-self: center;
  width:180px;
}

.bell{
padding-right:30px;
border-right: 2px solid #fff;
}

.bell:after{
  content:'';
  background-color:#5fa66d;
  width:10px;
  height:10px;
  border-radius: 20px;
  margin-top:0;
  transition: all .3s ease-in;
}

.bell:hover:after{
  background-color: #fff;
}

.profile-image{
  padding-left:30px;
}

.bell,
.profile-image,
.dropdown-container{
  display:flex;
  align-content: center;
}

.dropdown-container{
  width:35px;
  margin-left:10px;
  height:45px;
  flex-direction: column;
}

.dropdown-container > .icon-container{
    height:100%;
}

.dropdown-container > #dropdown{
    visibility: hidden;
    margin-top:7px;
    z-index:9999;
    margin-left:-180px;
    background-color:#5fa66d;
    margin-right:-20px;
    transition: all .3s ease-in;
    transform: translateY(-10px);
    opacity:0;
}

#dropdown ul li{
  list-style: none;
  cursor:pointer;
  padding:15px;
}

#dropdown ul li a{
text-decoration: none;
color:#fff;
transition: all .3s ease-in;
}

#dropdown ul li:hover,
.name-suggestion:hover{
background-color: #0F6129;
}


#dropdown ul{
  margin-bottom:0;
}

.profile-image::after{
  display:none;
}



#dropdown.show{
  visibility: visible!important;
  transform:translateY(0px)!important;
  opacity:1!important;
}


/**************************************************************************************************************
********************************************* COG SVG ANIMATION ***************************************************
**************************************************************************************************************/

@keyframes turn {


  1%{
    transform: rotate(0) ;
  }
  100%{
    transform: rotate(180deg);
    fill:#fff;
  }
}

#icon-cog:hover .sidenavicon{
    animation: turn .5s .1s ease-out backwards;
    transform-origin: center;
    transform-box : fill-box;
    animation-play-state: running;
    fill:#fff;
}

#icon-cog{
    fill:#fff;
    cursor: pointer;
}

/**************************************************************************************************************
********************************************* DASHBOARD HEADING-MOBILE STYLES ********************************************
**************************************************************************************************************/


#dashboard-container > ul{
  display:flex;
  list-style: none;
  flex-direction:column;
  flex:1;
  justify-content: space-evenly;
  border:none;
}

.main-header-search input{
  border-radius:5px;
  border: 1px solid gray;
  padding:12px 40px 12px 10px;
  background: url('data:image/svg+xml,<svg width="30px" height="20px" fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 170 900 24"><path d="M505.749 475.587l-145.6-145.6c28.203-34.837 45.184-79.104 45.184-127.317C405.333 90.926 314.41.003 202.666.003S0 90.925 0 202.669s90.923 202.667 202.667 202.667c48.213 0 92.48-16.981 127.317-45.184l145.6 145.6c4.16 4.16 9.621 6.251 15.083 6.251s10.923-2.091 15.083-6.251c8.341-8.341 8.341-21.824-.001-30.165zM202.667 362.669c-88.235 0-160-71.765-160-160s71.765-160 160-160 160 71.765 160 160-71.766 160-160 160z"></path></svg>') no-repeat;
  background-position-x: right;
  opacity:1;
  transition: .5s all ease-out;
  width:100%;
  background-color: #393739;
  border:none;
  background-position-y:center;
}

.main-header-search input::placeholder{
  margin:auto 0;
}

#dashboard-container{
  padding: 40px 25px 0 25px;
}

/**************************************************************************************************************
********************************************* SIDE-NAV-MOBILE STYLES ********************************************
**************************************************************************************************************/

/** svg container **/
nav{
  display:flex;
  height:80px;
  position: fixed;
  width: 100%;
  z-index:9999;
}
.sidenav-icons {
  display:flex;
  flex:1;
  justify-content:space-around;
}

/** svg icons **/

.icon-container{
  display: flex;
  align-content: center;
  justify-content: center;
}

.icon-container > svg, 
#settings, 
#menu{
  width:25px;
  fill:#0E7368;
}

.social .icon-container > svg{
  width:80px;
  height:80px;
  padding:15px;
  background-color:#0E7368!important;
  border-radius: 40px;
}


/**************************************************************************************************************
********************************************* ALERT ********************************************
**************************************************************************************************************/
#alert-container{
  padding: 0;
}

.alert-inside-container{
    transition:all 1s ease-out;
}

#alert-container .alert-inside-container{
  display:flex;
  flex:1;
}

#alert-container > .alert-inside-container > p{
  margin-right: auto;
  display:flex;
  flex-direction: column;
  flex:auto;
  color:#fff;
}

.close-check-alert{
  flex-basis: 35px;
  display:flex;
  flex-direction: column;
}

.close-check-alert svg {
  width:20px;
  height:20px;
  align-self: center;
}

.close-check-alert div {
  flex:1;
}


#alert-container > .alert-inside-container > p > strong,
#alert-container > .alert-inside-container > p > span{
  align-self: center;
}

#alert-container > .alert-inside-container > p{
  justify-content: center;
}


.close-check-alert > div{
  background-color:#5fa66d;
}



.alerticon{
  fill:#fff;
}

.alert-bell-text{
  display: none;
}

.checkedalertText{
  color:#fff;
  padding-right:25px;
}

.alert-inside-container{
  background-color:#7377bf;
}




/** Mobile alert message will onlydisplay. Tablet and Desktop will be disabled. **/

/** displaying tablet alert message **/
.alertmessage-desktop,
.alertmessage-tablet{
  display:none;
}


.alertmessage{
  display:block;
}


/**************************************************************************************************************
********************************************* CURSOR STYLES ***************************************************
**************************************************************************************************************/

#alertclosesvg,
.bell,
#alertchecksvg{
  cursor: pointer;
}

/**************************************************************************************************************
********************************************* TRAFFIC / DAILY USERS / MOBILE USERS ***************************************************
**************************************************************************************************************/


#traffic--container{
  flex-direction:column;
}

.traffic-nav{
  display:flex;
  list-style: none;
  justify-content: space-between;
}



.widget-container-full,
.widget-container-half {
  position: relative;
  height:400px;
  width:100%;
}

.widget-container-half{
  align-self: center;
}

/* #mobile-users-container .widget-container-half{
  width: 400px;
} */

.tab-pane{
  display:none;
}

.tab-pane.active{
  display:block;
}


.traffic-nav .active a{
  padding:10px;
  margin-top:-10px;
  transition: .5s all ease-in-out;
  transition-property: color, background-color;
  border-radius: 20px;
  background-color: #5fa66d;
  color:#fff;
}

.traffic-nav a{
  padding:10px;
  margin-top:-10px;
  transition: .5s all ease-in-out;
  transition-property: color, background-color;
  border-radius: 20px;
  color: inherit;
  text-decoration: none;
}
.traffic-nav a:hover{
  background-color: #5fa66d;
  color:#fff;
}

.traffic-nav{
  margin-bottom:40px;
}



/**************************************************************************************************************
********************************************* SOCIAL ***************************************************
**************************************************************************************************************/


.social{
  background-color: #fbfbfb;
  margin-bottom:20px;
  height:180px;
  justify-content: center;
  border: 1px solid grey;
  background-color: transparent;
}

.socialFill{
  fill:#fff;
}

.social-text h2 {
  color:#fff;
}

.social-image{
  margin-bottom:8px;
}

.social-text h2{
  margin-bottom:8px;
}

.social-text p{
  font-size:30px;
}



/**************************************************************************************************************
********************************************* NEW MEMBERS ********************************************
**************************************************************************************************************/

.members-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom:30px;
}

.members-container > img {
  padding:0;
  border-radius: 70px;
  width:60px;
}

.member-text{
  margin-top:10px;
}

.member-text a{
  text-decoration: none;
  color:#7377bf;
}

/**************************************************************************************************************
********************************************* FORM ********************************************
**************************************************************************************************************/

form{
  display:flex;
  flex-direction: column;
}


form > input,
form textarea,
form button,
select,
#save,
#cancel
{
  background-color: #fbfbfb;
  border:1px solid grey;
  margin-bottom:10px;
  border-radius: 5px;
}

form > input{
  padding:10px;
}

form textarea{
  padding: 10px 0 60px 10px;
}

form textarea::placeholder,
form input::placeholder,
form button{
  font-family: 'Raleway', sans-serif;

}

form button,
#save,
#cancel{
  background-color:#7377bf;
  padding:10px;
  color:#fff;
  font-weight:600;
  font-size: 14px;
  cursor:pointer;
  border:none;
}

form textarea::placeholder{
  font-size: 13px;
}

select{
  padding:10px;
  margin-bottom:30px;
}

.settings-buttton{
  display:flex;
}

#save,
#cancel{
flex:1;
padding:10px;
}

#save{
  margin-right:10px;
}

.settings-buttton #cancel{
  background-color: grey;
}

/**************************************************************************************************************
********************************************* RECENT ACTIVITY & NEW MEMBERS ********************************************
**************************************************************************************************************/

#recent-activity-container .members-container .member-text p {
  font-weight:600;
}

.icon-next svg{
  display:none;
  fill: #7377bf;
  transition: .5s all ease-out;
  cursor: pointer;
}

.icon-next svg:hover{
  fill: #5fa66d;
}

.name-suggestion-container {
	display: none;
	position: absolute;
	z-index: 10;
	height: 150px;
	overflow: auto;
  width:375px;
  margin-top:38px;
  background-color: #5fa66d;
  color:#fff;
}
.name-suggestion-container .name-suggestion{
  padding:10px;
  color:#fff;
  box-sizing: border-box;
  cursor:pointer;
}

/**************************************************************************************************************
********************************************* SETTINGS*******************************************
**************************************************************************************************************/



/*** SETTINGS ***/

#toggle-container .switch-light{
  display:flex;
  margin-bottom:30px;
  flex-direction: column;
}

#toggle-container .switch-light strong{
  margin-bottom:5px;
}

select{
  width:100%;
}

/**************************************************************************************************************
********************************************* MQ - TABLET ********************************************
**************************************************************************************************************/

@media only screen and (min-width: 780px){

  /*** HEADER STYLES ***/

  .profile-image + .icon-container{
    height:initial;
  }

  .bell:after{
    margin-top:-25px;
  }

  .dropdown-container > #dropdown{
      margin-top:16px;
      margin-right:5px;
  }

/*** SIDENAV ICONS ***/

.sidenav-icons{
  flex-direction: column;
  justify-content: flex-start;
}

.icon-container{
  justify-content: center;
}

.sidenav-icons .icon-container svg{
  height:75px;
}

nav{
  position: initial;
  height: initial;
}



/*** ALERT MESSAGE ***/

/** displaying tablet alert message **/
.alertmessage,
.alertmessage-desktop{
  display:none;
}

.alertmessage-tablet{
  display:block;
}



.close-check-alert{
  flex-direction: row;
  flex-basis: 70px;
}
#alert-container .alert-inside-container p {
  flex-direction: row;
  padding:0 15px;
}

#alert-container .alert-inside-container{
  border-radius:5px;
  width:100%;
}

#alert-container{
  background-color: #fff;
  padding:0 25px 0 25px;
}

.alert-bell-text{
display: block;
}

/*** message telling the user the alert message is already displaying ***/
.bell{
  align-items: center;
}

.bell p {
  order:-1;
  transition: all 1s ease-out;
  opacity:0;
  position: absolute;
}

.checkedalertText{
  color:initial;
  padding-right:0;
}

/** Tablet alert message will onlydisplay. Tablet and Desktop will be disabled. **/

.mobileAlert{
  display:none;
}

.tabAlert{
  display:block;
}

.deskAlert{
  display:none;
}



/**** DASHBOARD HEADING-MOBILE STYLES ****/

#dashboard-container > ul{
flex-direction: row;
justify-content: flex-start;
padding:0;
}

#dashboard-container ul li{
  display:flex;
}

#dashboard-container ul li:nth-of-type(1){
  margin-right:auto;
  align-items: center;
}


#dashboard-container ul li:nth-of-type(1) h2{
  text-align: left;
  margin: auto 0;
}

#dashboard-container ul li:nth-of-type(1){
  flex-basis:140px;
  flex-direction: row;
}

.main-header-search{
  display:flex;
  align-items: flex-end;
  justify-content: center;
  flex:9;
  background-color:#262528;
  flex-direction: column;

}


.main-header-search input,
.main-header-search div{
  width:500px;
  margin:auto;
}


#dashboard-container{
  padding: 0;
  position: relative;
}



/**** TRAFFIC CHART.JS ****/

.traffic-nav li {
  margin-top:0;
}


.traffic-header{
  display:flex;
  align-items: center;

}

.traffic-header > h3{
margin-right: auto;
}
.traffic-nav{
  flex:0.2;
  margin-bottom: 20px;
}

.trafficNavwrap{
  margin:15px 0;
}

/** Social **/

.main-social-container{
  display:flex;
  flex-direction: row;
}
.social{
  flex:1;
}

.main-social-container > div:nth-of-type(2){
  margin: 0 15px;
}

/*** Message users ***/

form{
  flex:1;
}

form textarea{
  margin-bottom: auto;
}

/** new members **/


}

/**************************************************************************************************************
********************************************* MQ - DESKTOP ********************************************
**************************************************************************************************************/

@media only screen and (min-width:1024px){


  form textarea{
    padding: 10px 0 90px 10px;
  }

  /** displaying tablet alert message **/
  .alertmessage,
  .alertmessage-tablet{
    display:none;
  }

  .alertmessage-desktop{
    display:block;
  }




}


@media only screen and (min-width:1350px){

  /** new members **/

  .members-container{
      flex-direction: row;
  }


  .member-text{
    display:flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 auto 0 20px;
  }


  .members-container .icon-next svg{
    display:block;
    width:25px;
    height:25px;
  }



}






















/**** sidebar  ****/
#sidebar {
  position:absolute;
  top:0px;
  right:-350px;
  width:350px;
  height:100%;
  background:#fff;
  transition:all 300ms linear;
  z-index: 1;
  padding: 0 20px;
}
#sidebar.active {
  right:0px;
}
#sidebar .toggle-btn {
  position:absolute;
  left:220px;
  top:10px;
}
#sidebar .toggle-btn span {
  display:block;
  width:30px;
  height:5px;
  background:#151719;
  margin:5px 0px;
  cursor:pointer;
}
#sidebar div.list div.item {
  padding:15px 10px;
  border-bottom:1px solid #444;
  color:#fcfcfc;
  text-transform:uppercase;
  font-size:15px;
}

#sidebar > svg{
  width:25px;
  margin:15px 15px 15px 0;
  height: 25px;
  fill:#0E7368;
}

.svg-menu svg{
  width:20px;
}

.svg-menu svg:nth-child(1){
  fill:#0E7368;
}

.svg-menu, 
.search-sidebar{
  display:flex;
  justify-content: space-evenly;
  height: 75px;
}

.search-sidebar input{
  width:100%;
  height: 30px;
}

.search-sidebar input::placeholder{
padding-left:10px;
}

.memebers-available{
  padding:25px 0;
}

.member-headinline {
  display: flex;
}

.member-headinline h4:nth-child(1) {
  margin-right: auto;
}

.member-headinline h4{
  color:grey;
  font-size: 12px;
}

.member{
  display:flex;
  align-items: center; 
  margin-bottom: 20px;
}

.member h5{
  color:black;
  font-weight: 600;
}

.member img{
  margin-right:20px;
  width:40px;
  border-radius: 25px;
}